<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="yourkeyhere"/>
    <add key="AWSSecretKey" value="yoursecretkeyhere"/>
    <add key="Threads" value="20"/>
    <add key="Retries" value="3"/>
    <add key="ACL" value="PublicRead"/> <!-- AuthenticatedRead,BucketOwnerFullControl,BucketOwnerRead,NoACL,Private,PublicRead,PublicReadWrite -->
    <add key="PutTimeout" value="0"/>
  </appSettings>
</configuration>